@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn {
    @apply bg-red-500 text-red-50
    px-4 py-2
    rounded-md
    text-lg font-medium
    inline-flex items-center justify-center whitespace-nowrap
    transition-colors
    hover:bg-red-600/90
    focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2
    disabled:pointer-events-none disabled:opacity-50
}

.seat {
    @apply h-[7vw] w-[7vw] max-w-8 max-h-8
    appearance-none bg-neutral-300
    border-0 border-b-4 border-neutral-400
    checked:bg-none checked:text-green-500 checked:border-green-600
    checked:focus:border-green-600 checked:hover:border-green-600
    checked:focus:ring-green-400
    disabled:bg-red-600 disabled:border-red-700
    hover:bg-green-300 hover:border-green-400
    focus-visible:bg-green-300 focus-visible:border-green-400 focus:ring-neutral-300;
    margin: min(0.5vw, 0.125rem);
    border-radius: min(2vw, 0.5rem) min(2vw, 0.5rem) min(0.125vw, 0.125rem) min(0.125vw, 0.125rem);
}

@media (min-width: 768px) {
    .row::before,
    .row::after {
        @apply w-3 px-4
        text-lg font-semibold
        inline-flex items-center justify-center;
        content: counter(list-item);
    }
}

.checkbox {
    @apply w-5 h-5 border-2
    bg-neutral-900 border-neutral-600 text-red-500
    focus:ring-offset-0 focus:ring-zinc-100 rounded-md
}