<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{home.index.headline}]]</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<div layout:fragment="content" class="flex items-center flex-col">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-8">Vali piletid</h1>
    <form action="/seats" method="get" class="max-w-prose w-full flex flex-col">
        <div class="grid divide-y">
            <th:block th:replace="tickets/ticket.html :: ticket(name='Tavapilet', type='adult', price='9.99 €')"/>
            <th:block th:replace="tickets/ticket.html :: ticket(name='Õpilasepilet', type='student', price='7.99 €')"/>
            <th:block th:replace="tickets/ticket.html :: ticket(name='Lapsepilet', type='child', price='5.99 €')"/>
        </div>
        <input th:value="${event}" name="session" type="hidden"/> <!--Persist session for the next page-->
        <button type="submit" class="btn self-end mr-0 mt-4">
            Vali istekohad
        </button>
    </form>
</div>
<script layout:fragment="script">
    function increment(id) {
        let btn = document.getElementById(id)
        btn.value = Math.min(btn.max, ++btn.value)
    }
    function decrement(id) {
        let btn = document.getElementById(id)
        btn.value = Math.max(btn.min,--btn.value)
    }
</script>
</body>
</html>
