<div class="flex items-center pb-0.5 pt-0.5" th:fragment="ticket(name, type, price)">
  <label th:for="${type}" class="text-2xl p-3 mr-auto" th:text="${name}">Ticket name</label>
  <div th:text="${price}" class="text-xl font-medium tracking-tight m-4">0.00€</div>
  <button type="button" class="text-2xl" th:onclick="'decrement(\''+__${type}__+'\')'">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M5 12h14"/>
    </svg>
  </button>
  <input th:id="${type}" th:name="${type}" type="number" min="0" max="9" value="0" readonly class="text-xl m-3 appearance-none text-center bg-neutral-100 border-0 rounded-md"/>
  <button type="button" class="text-2xl" th:onclick="'increment(\''+__${type}__+'\')'">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M5 12h14"/>
      <path d="M12 5v14"/>
    </svg>
  </button>
</div>