<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Seats</title>
</head>
<body>
    <div layout:fragment="content" class="flex items-center flex-col">
        <form action="/buy" method="post" class="flex flex-col">
            <th:block th:replace="~{seats/selector.html :: seats}"></th:block>
            <!-- Hidden fields to persist state -->
            <input th:value="${sessionId}" name="session" type="hidden"/>
            <input th:value="${tickets}" name="tickets" type="hidden"/>
            <input th:value="${adult}" name="adult" type="hidden"/>
            <input th:value="${student}" name="student" type="hidden"/>
            <input th:value="${child}" name="child" type="hidden"/>
            <button type="submit" class="btn self-end mt-3 mr-1 md:mr-10">
                Kinnita kohad
            </button>
        </form>
    </div>
    <script layout:fragment="script">
        // Target all checkboxes on the page that are seats
        var checkboxes = document.querySelectorAll('input[type="checkbox"].seat');
        var checkedSeats = [];
        // NOTE: This code relies on recommended seats
        checkboxes.forEach(function(checkbox) {
            // Collect all checked seats
            if (checkbox.checked) {
                checkedSeats.push(checkbox);
            }
            // Prevent already checked checkboxes to be unchecked
            checkbox.addEventListener('click', function (event) {
                if (checkedSeats.includes(this)) {
                    event.preventDefault()
                }
            })
            // Uncheck the oldest checkbox when a new one is checked
            checkbox.addEventListener('change', function() {
                if (this.checked) {
                    checkedSeats.shift().checked = false;
                    checkedSeats.push(this);
                }
            });
        });
    </script>
</body>
</html>
